---
import BaseLayout from '../layouts/BaseLayout.astro';
import {LayoutDemo} from '../components/LayoutDemo.tsx';
---

<style is:global>
    body {
        font-family: sans-serif;
    }

    .LayoutDemo {
        border-radius: 1em;

        & > div {
            background-color: white;
            border-radius: 1em;
        }
    }
</style>

<BaseLayout title="Astro + React Harness">
    <main>
        <h1>EasyLayout</h1>

        <section>
            <LayoutDemo client:load/>
        </section>
    </main>
</BaseLayout>
